<h1>Value</h1>
<a href="/equation" style="padding-bottom: 70px;">Go to equation view</a>

<div style="height: 120px;">
  <%= render "header_row" %>
  <div style="height: 60px;; display: inline-flex; border-bottom: 3px solid black; border-left: 3px solid black; border-right: 3px solid black;">
    <div style="height: 60px; width: 90px; border-right: 3px solid black; text-align: center; align-items: center;">
      <p>$A</p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>$B</p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>$C</p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>$D</p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>$E</p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>$F</p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>$G</p>
    </div>
    <div style="height: 60px; width: 90px; border-right: 3px solid black;text-align: center">
      <p>$H</p>
    </div>
    <div style="height: 60px; width: 90px; text-align: center">
      <p>$I</p>
    </div>
  </div>

</div>
